.about{
height: 980vh;
overflow-x: hidden;
background-color: #090909;
color: #ececec;
overflow-x: hidden;
   
    .h3{
        color: #ececec3b;
        font-size: 7rem;
        padding-bottom: 3rem;
        transform: translateX(-1300px);
        padding: 30px 0;
        opacity: 0;
    }
    .project-conatain{
        padding: 75px 0;
        padding-left: 25px;

        .project-contain-p{
            padding: 15px 0;
            line-height: 20px;
        }
    }

    .vedeo{
        margin-left: 25rem;
    }
}


@media (min-width: 1025px){
    .about{
        width: 100vw;

        .project-conatain{
            padding: 75px 0;
            padding-left: 15px;
        }
    

        .vedeo{
            margin-left: 7px;

        }
     }
}


@media (min-width: 1201px){
    .about{
        width: 100vw;

        .project-conatain{
            padding: 75px 0;
            padding-left: 15px;
        }
    

        .vedeo{
            margin-left: 4rem;

        }
     }
}


@media (min-width: 1425px){
    .about{
        width: 100vw;

        .project-conatain{
            padding: 75px 0;
            padding-left: 15px;
        }
    

        .vedeo{
            margin-left: 24rem;

        }
     }
}


@media (min-width: 1828px){
    .about{
        width: 100vw;

        .project-conatain{
            padding: 75px 0;
            padding-left: 15px;
        }
    

        .vedeo{
            margin-left: 50rem;

        }
     }
}

@media (max-width: 1024px){
    .about{
        width: 100vw;

        .project-conatain{
            padding: 75px 0;
            padding-left: 10px;
        }
    

        .vedeo{
            margin-left: 0px;

        }
     }
}

